/* media query - responsive page */
/* tablet and mobile device */
@media screen and (min-height:900px) 
{
    .main
    {
        background-size: contain;
        width: 100vw;
    }
    .main header nav img{
        margin-left:30px ;
    }
    .option:last-child{
        margin-right: 30px;
    }
    .container .sub-container
    {
        width: 90%;
        /* margin-bottom: 20px; */
    }
    .container .sub-container .heading
    {
        font-size: 2.97em;
        margin-bottom: 25px;
    }
    .container .sub-container .small-discription
    {
        margin-bottom: 35px;
    }
    .container .sub-container .discription
    {
        margin-bottom: 30px;
    }
}
/* .second-section .box .head ,.fourth-section .box .head
{
    float:none;
} */