
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Poppins:ital,wght@1,700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Great+Vibes&family=Poppins:ital,wght@0,300;0,700;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --orange:rgb(203, 22, 1);
}
.main
{
    background-image: url(images/header-image.png);
    background-size: contain;
    /* background-color: rgba(0, 0, 0, 0.8); */
    height: 105vh;
    width: 100%;
}
.main header{
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: linear-gradient(rgba(0, 0, 0, .7),rgba(0,0,0,.2),rgba(0, 0, 0, .8));
    height: 105vh;
    width: 100vw;
    /* background-image: linear-gradient(to top,rgba(0, 0, 0, .7),rgba(0,0,0,0)); */

    
}
.main header nav{
     display: flex;
     justify-content: space-between;
     padding: 20px;
     align-items: center;
    /* height: 50px; */
}
.main header nav img{
   margin-left: 130px;
    height: 40px ;

}
.option
{
    display: flex;
    align-items: center;
    gap: 20px;
}
.option:last-child
{
    margin-right: 130px;
}
.option select
{
    background-color: #000;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    outline: 2px solid white;
    outline-offset: 2px;
}
nav .btn
{
    background-color: rgb(203, 22, 1);
    color: white;
    font-size: 1em;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    
}

.container
{
    height: 80vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
}
.container .sub-container
{
    position: relative;
    width: 80%;
    text-align: center;
}
.container .sub-container .heading
{
    font-size: 3em;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Poppins', sans-serif;
    /* font-style: normal; */
    margin-bottom: 15px;
}
.container .sub-container .small-discription
{
    font-size: 1.6em;
    margin-bottom: 25px;
    font-weight: 500;
    font-family: sans-serif;

}
.container .sub-container .discription
{
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: sans-serif;
}
.container .sub-container .box
{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: center;
}
.container .sub-container .box .email input
{
    height: 55px;
    width: 400px;
    color: white;
    font-size: 1.1em;
    background-color: black;
    border: 1px solid rgb(117, 116, 116);
    border-radius: 5px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    /* border: none; */
}
.container .sub-container .box .btn
{
   height:55px;
   width: fit-content;
   padding: 0px 20px;
   background-color: var(--orange);
   color: white;
   font-size: 1.4em;
   font-weight: 700;
   border: none;
   border-radius: 5px;
   text-transform: capitalize;
}
.btn:hover
{
    background-color: rgb(226, 55, 3);
}
.container .sub-container .box .btn:hover{
    background-color: rgb(226, 55, 3);
}
/* second section */
hr{
    height: 8px;
    background-color: rgba(0, 0, 0, .8);
    border: none;
}
.second-section,.third-section,.fourth-section,.fifth-section
{
    height: 80vh;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 90%; */
}
.second-section .box ,.third-section .box ,.fourth-section .box ,.fifth-section .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.second-section .box .head ,.fourth-section .box .head{
    float: left;
}
.third-section .box .head,.fifth-section .box .head{
    float: right;
}
.second-section .box .head .heading ,.third-section .box .head .heading,.fourth-section .box .head .heading,.fifth-section .box .head .heading
{
    font-family: poppins,sans-serif;
    font-size: 2.5em;
    margin-bottom: 10px;
}
.second-section .box .head p ,.third-section .box .head p,.fourth-section .box .head p,.fifth-section .box .head p
{
    /* font-family: poppins,sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
}
.second-section .box .img img ,.fourth-section .box .img img{
    margin-left: 20px;
    width: 500px;
} 
.third-section .box .img img ,.fifth-section .box .img img{
    margin-right: 20px;
    width: 500px;

}

/* question section */

.question
{
    height: auto;
    width: 100%;
    color: white;
    background-color: black;
    
}
 
.question .box  .heading
{
    font-size: 3em;
    font-weight: 900;
    font-family: poppins,sans-serif;
    text-align: center;
   padding: 50px 0px 20px 0px;
}
.question .box .flex-parent-box
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question .box .flex-box{
    width: 70%;
    display: flex;
    /* background-color: gray; */
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ans {
    background-color:rgba(220, 220, 220,0.3);
    margin-top: 0;
    font-size: 1.3em;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    display:none;
}
/* {
    display: block; */

.ans p{
    padding: 20px;
}
.ans
{
    margin-bottom: 10px;
}
.ques{
    width:147vh;
    padding: 15px;
    border-radius: 5px;
    border: none;
    font-size: 1.3em;
    /* border: 1px solid white; */
    background-color:rgba(220, 220, 220,0.3);
    /* margin-bottom: 10px; */

    /* font-weight: 100; */
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ques:hover{
    background-color:rgba(220, 220, 220,0.4); 
}
.ques div i{
    font-size: 50px;
}
.question .box .flex-box .flex-content
{
    margin-bottom: 10px;
}
.question .box1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question .box .box1 .box2 .discription
{
    margin-top: 50px;
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 20px;
    font-family: sans-serif;
    
    
}
.question .box .box1 .box2 .box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 70px;
}
.question .box .box1 .box2 .box input{
    
    height: 55px;
    width: 400px;
    color: white;
    font-size: 1.1em;
    background-color: black;
    border: 1px solid rgb(117, 116, 116);
    border-radius: 5px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.question .box .box1 .box2 .box .btn{
    height:55px;
   width: fit-content;
   padding: 0px 20px;
   background-color: var(--orange);
   color: white;
   font-size: 1.4em;
   font-weight: 700;
   border: none;
   border-radius: 5px;
   text-transform: capitalize;   
}
.question .box .box1 .box2 .box .btn:hover{
    background-color: rgb(226, 55, 3);
}


/* footer */

footer{
    height: 70vh;
    background-color: black;
    width: 100%;
    color: rgba(221, 220, 220,.8);
}
footer .box{
   
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .box .box1{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .box .box1 .heading
{
    margin: 70px 0px 30px 0px ;
    font-size: 1.6em;
}
footer .box .box1 .heading a{
    color: rgba(221, 220, 220,.8);
}
footer .box .box1 .sub-box 
{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    gap: 70px;
}
footer .sub-box .flex-content a{
    display:block;
    width: auto;
    margin:  10px 0px;
    color: rgba(221, 220, 220,.8);
}
footer .sub-box .flex-content a:hover
{
    /* transition-duration: 1s;
    -o-transition-timing-function: linear; */
    color:rgba(221, 220, 220,1); ;
}
footer .option
{
    margin-top: 20px;
}
footer .end{
     display: block;
     font-size: 1.3em;
     font-weight: 100;
     margin-top: 10px;
     letter-spacing: .5px;
     word-spacing: 2px;
     font-family: serif;
}



